<div class="cuadro">
    <div  id="edu" class="formación">
      <div class="educacion">
        <div><h1>Educación</h1></div>
      </div>
   <div class="parrafoB">
      <div class="row">
      <div class="col-4"><b>2022 - actualidad</b></div>
      <div class="col-8">Universidad de Buenos Aires</div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-8">Lic. Ciencia de Datos</div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-8">CBC en curso</div>
    </div>
   </div>
   <div class="parrafoC">
     <div class="row">
          <div class="col-4"><b>2016 - 2021</b></div>
          <div class="col-8">Colegio Monseñor Tomás Solari, Morón, Buenos Aires.</div>
     </div>
     <div class="row">
          <div class="col-4"></div>
          <div class="col-8">Bachillerato con orientación en economía y administración</div>
     </div>
     <div class="row">
          <div class="col-4"></div>
          <div class="col-8">Completo</div>
     </div>
    </div>
</div>
</div>
<button type="button" class="editar"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
</button>
