.educacion {
    padding: 10px 0 0 40px;
    font-family: 'Bebas Neue', cursive;
 }

 .parrafoB {
    padding: 65px 0 0 60px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
 }

 .parrafoC {
    padding: 70px 0 0 60px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
 }

 .cuadro {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 150px;
 }


 
 