

  <div id="edit">
    <button type="button" class="editar2"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
    </button>
  </div>
  <p id="datos" class="nombre"><b>{{persona.nombre}} {{persona.apellido}}</b></p>
<div class="bordes">
   <!-- <p id="datos" class="nombre"><b>ARIANA ABRIL MEDINA</b></p>-->

   

    <div class="hola">
      <div class="acerca-de">
       <div><h1>datos personales</h1> </div>
      </div>
    <div class="parrafoA">
      <p><b>Edad:</b> 18 </p>
      <p><b>Nacimiento:</b> 24/03/2004</p>
      <p><b>Cel.:</b> +54 11 5624-5323</p>
      <p><b>Tel.:</b> 6084-2699</p>
      <p><b>Dirección:</b> Bs.As, Argentina</p>
      <p><b>Cod. Postal:</b> 1755</p>
      <p><b>Email:</b> ariabril.med773@gmail.com</p>
       <button type="button" class="editar2"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
       </button>
    </div>

     <div id="descarga">
        <a href="./cv/CV-ArianaMedina.pdf" download="CV-ArianaMedina.pdf">
          <button type="button" class="btn btn-outline-success btn-sm">Descargar CV <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAANFJREFUSEtjZKAxYKSx+QyjFhAM4dEgGuRBlLUyr4GNjWnChMAJH7A5tWB9gcCPP3/yZ4ROacTlFZyRDDL8P+P/egaG/xfYWVkc0S0BGf7z95/9DAyMBoz/GRunhU9qwGYJTgsgBvw9wMDAoI9uCbLhDAwMF9lZmR1w+RJvMsVmCciVMJcTMhyklmA+QLcEEgyMBsQYTpQFIEWoloBtwBssyHFB0AcwxUiWMOALc/SIJtoCmE9ANK4IJSkVEcyiRCogyQdEmomibNQCgqE29IMIAMeGYBkYoCcDAAAAAElFTkSuQmCC" alt="boton descarga"/></button>
        </a>  
     </div>
    </div>
  </div>