<!--Nav-->
     <app-encabezado></app-encabezado>
  <main>
     <!--Banner-->
     <section>
      <div class="banner">
         <div class="contenido">
           <div class="row">
             <div class="col-sm-1"></div>
             <div class="col-sm-3">
               <img src="../assets/perfil.jpg" class="foto" alt="Foto de Perfil">
             </div>
             <div class="col-sm-4"></div>
           </div>
           <button type="button" class="editar2"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
           </button>
         </div>
      </div>
 </section>

     <div id="edit">
       <button type="button" class="editar2"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
       </button>
     </div>

    <!--Seccion de datos personales-->

    <div class="bordes">
      <p id="datos" class="nombre"><b>ARIANA ABRIL MEDINA</b></p>

      <div class="hola">
        <div class="acerca-de">
         <div><h1>datos personales</h1> </div>
        </div>
      <div class="parrafoA">
        <p><b>Edad:</b> 18 </p>
        <p><b>Nacimiento:</b> 24/03/2004</p>
        <p><b>Cel.:</b> +54 11 5624-5323</p>
        <p><b>Tel.:</b> 6084-2699</p>
        <p><b>Dirección:</b> Bs.As, Argentina</p>
        <p><b>Cod. Postal:</b> 1755</p>
        <p><b>Email:</b> ariabril.med773@gmail.com</p>
         <button type="button" class="editar2"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
         </button>
      </div>

       <div id="descarga">
          <a href="Downland/CV.pdf" >
            <button type="button" class="btn btn-outline-success btn-sm">Descargar CV <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAANFJREFUSEtjZKAxYKSx+QyjFhAM4dEgGuRBlLUyr4GNjWnChMAJH7A5tWB9gcCPP3/yZ4ROacTlFZyRDDL8P+P/egaG/xfYWVkc0S0BGf7z95/9DAyMBoz/GRunhU9qwGYJTgsgBvw9wMDAoI9uCbLhDAwMF9lZmR1w+RJvMsVmCciVMJcTMhyklmA+QLcEEgyMBsQYTpQFIEWoloBtwBssyHFB0AcwxUiWMOALc/SIJtoCmE9ANK4IJSkVEcyiRCogyQdEmomibNQCgqE29IMIAMeGYBkYoCcDAAAAAElFTkSuQmCC" alt="boton descarga"/></button>
          </a>  
       </div>
      </div>
    </div>

    <div id="1" class="barra-0_5">
       <hr>
    </div>

    <div class="plusss">
      <button type="button" class="editar3" >
       <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAFZJREFUSEtjZKAxYKSx+QyjFhAMYVKD6D/URKL1Ea0QavCoBQTjbOgEEcylBL2EpgAj0eBKRTS3AJfLh04cjPoAHgKDriwiNV+M1miEQ4zUSCZsIpoKAFy0DhnDOA3uAAAAAElFTkSuQmCC" alt="boton editar"/>
      </button>
    </div>

    <!--Barra de separación 1-->      
     <div id="1" class="barra-1">
       <hr>
     </div>

    <!--Educación-->
     <div class="cuadro">
       <div  id="edu" class="formación">
         <div class="educacion">
           <div><h1>Educación</h1></div>
         </div>
      <div class="parrafoB">
         <div class="row">
         <div class="col-4"><b>2022 - actualidad</b></div>
         <div class="col-8">Universidad de Buenos Aires</div>
       </div>
       <div class="row">
         <div class="col-4"></div>
         <div class="col-8">Lic. Ciencia de Datos</div>
       </div>
       <div class="row">
         <div class="col-4"></div>
         <div class="col-8">CBC en curso</div>
       </div>
      </div>
      <div class="parrafoC">
 <div class="row">
   <div class="col-4"><b>2016 - 2021</b></div>
   <div class="col-8">Colegio Monseñor Tomás Solari, Morón, Buenos Aires.</div>
 </div>
 <div class="row">
   <div class="col-4"></div>
   <div class="col-8">Bachillerato con orientación en economía y administración</div>
 </div>
 <div class="row">
   <div class="col-4"></div>
   <div class="col-8">Completo</div>
 </div>
</div>
</div>
</div>
<button type="button" class="editar"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
</button>

<hr id="barra-2">

<!--Habilidades-->
<div id="fondoHYC" class="fondoHYC">
 <div class="hyc">
  <h1>Habilidades y Conocimientos</h1>
 </div>

<div id="tarjeta">
 <div class="card mb-3" id="tarjetas">
   <div class="row g-0" >
     <div class="col-md-4">
       <img src="../assets/Cursos.jpg" class="img-fluid rounded-start" alt="Info Cursos">
     </div>
     <div class="col-md-8">
       <div class="card-body">
         <h5 class="card-title">CURSOS</h5>
         <p class="card-text">
          <b>- Argentina Programa (2022):</b> Desarrollador Full Stack.
          <b>- Habilidades para la Empleabilidad (2022).</b>
          <b>- Chicas en Tecnología (2017).</b>
         </p>
         <p class="card-text"><small class="text-muted"> <button type="button" class="editar3"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
         </button></small></p>
       </div>
     </div>
   </div>
 </div>

 <div class="card mb-3" id="tarjetas">
   <div class="row g-0" >
     <div class="col-md-4">
       <img src="../assets/Idioma.jpg" class="img-fluid rounded-start" alt="Info Idioma">
     </div>
     <div class="col-md-8">
       <div class="card-body">
         <h5 class="card-title"> IDIOMAS</h5>
         <p class="card-text"><b> Inglés:</b> Nivel A2
         </p>
         <p class="card-text"><small class="text-muted"> <button type="button" class="editar3"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
         </button></small></p>
       </div>
     </div>
   </div>
 </div>

</div>
<div class="pluss">
<button type="button" class="editar3" >
 <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAFZJREFUSEtjZKAxYKSx+QyjFhAMYVKD6D/URKL1Ea0QavCoBQTjbOgEEcylBL2EpgAj0eBKRTS3AJfLh04cjPoAHgKDriwiNV+M1miEQ4zUSCZsIpoKAFy0DhnDOA3uAAAAAElFTkSuQmCC" alt="boton editar"/>
</button>
</div>

<div class="cuadrado">
<div  id="hab" class="habilidades">
<div class="conocimientos">
  <div><h1>CONOCIMIENTOS</h1>
   <button type="button" class="editar"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
   </button>
 </div>

</div>



<div class="parrafoD">
 <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
 <div class="skills-bar">
   <div class="bar">
     <div class="info">
       <span>HTML</span>
     <div class="progress-line html"><span>

     </span></div>
   </div>

   <div class="bar">
     <div class="info">
       <span>CSS</span>
     </div>
     <div class="progress-line css"><span></span></div>
   </div>


   <div class="bar">
     <div class="info">
       <span>JavaScript</span>
     </div>
     <div class="progress-line js"><span></span></div>
   </div>


   <div class="bar">
     <div class="info">
       <span>Google Workspace</span>
     </div>
     <div class="progress-line google"><span></span></div>
   </div>

   <div class="bar">
     <div class="info">
       <span>Microsoft Office</span>
     </div>
     <div class="progress-line office"><span></span></div>
   </div>


   <div class="bar">
     <div class="info">
       <span>Desarrollo Web</span>
     </div>
     <div class="progress-line desarrolloweb"><span></span></div>
   </div>



   <div class="bar">
     <div class="info">
       <span>Redacción</span>
     </div>
     <div class="progress-line redaccion"><span></span></div>
   </div>
  </div>
 </div>
</div>
</div>
</div>
<div class="cuadrado">
<div  id="con" class="habilidades">
<div class="conocimientos">
<div><h1>Habilidades</h1>
 <button type="button" class="editar"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
 </button>
</div>
</div>

<div class="parrafoD">
<div class="skills-bar">
 <div class="bar">
   <div class="info">
     <span>Creatividad</span>
   <div class="progress-line creatividad"><span>

   </span></div>
 </div>

 <div class="bar">
   <div class="info">
     <span>trabajo en equipo</span>
   </div>
   <div class="progress-line equipo"><span></span></div>
 </div>


 <div class="bar">
   <div class="info">
     <span>Aprendizaje activo</span>
   </div>
   <div class="progress-line aprendizaje"><span></span></div>
 </div>


 <div class="bar">
   <div class="info">
     <span>Organización y planificación</span>
   </div>
   <div class="progress-line organi"><span></span></div>
 </div>


   </div>
  </div>
 </div>
</div>
</div>
</div>

<hr id="barra-3">

<!--Proyectos-->
<div class="proyecsec" >
<div class="proyectos">
<div class="titulProy" id="proy">
<h1>Proyectos</h1></div>  
<button type="button" class="editar"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
</button>
<div class="textoA" id="irProy">
<div class="container">
 <div class="row">
   <div class="col-sm-1"></div>
   <div class="col-sm-3" id="primerproy">- Portafolio Web</div>
   <div class="col-sm-8" id="descrip"><i>fecha de Realización: 08/2022</i></div>
 </div>
 <div class="row" id="captura">
   <div class="col-sm-4"></div>
   <div class="col-sm-8"><img src="../assets/Captura.png" id="cap" alt="captura"></div>
 </div>
</div>
</div>
</div>
</div>


<!--Contacto-->

<div class="contacto" id="irCont">
<div class="sendmail">
<div class="titulCont">
<h1>Contacto</h1>
<button type="button" class="editar"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
</button>
</div>
<div class="formCont" >
<div class="row">
 <div class="col-sm-4">De:</div>
 <div class="col-sm-8">
 <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
</div>
<div class="row" id="miMail">
 <div class="col-sm-4">Para:</div>
 <div class="col-sm-8" id="mimail">
     ariabril.med773@gmail.com
 </div>
</div>
<div class="form-floating">
 <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" ></textarea>
 <label for="floatingTextarea2"></label>
</div>

<button type="submit" class="btn btn-outline-secondary">Enviar</button>
</div>
</div>
</div>


</main>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->

 
 




<router-outlet></router-outlet>

