<!--Nav-->
<app-encabezado></app-encabezado>
<main>
   <!--Banner-->
   <section>
    <div class="banner">
       <div class="contenido">
         <div class="row">
           <div class="col-sm-1"></div>
           <div class="col-sm-3">
             <img src="../assets/perfil.jpg" class="foto" alt="Foto de Perfil">
           </div>
           <div class="col-sm-4"></div>
         </div>
         <button type="button" class="editar2"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
         </button>
       </div>
    </div>
</section>

   <!--<div id="edit">
     <button type="button" class="editar2"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
     </button>
   </div>-->

  <!--Seccion de datos personales-->
    <app-datospersonales></app-datospersonales>


  <div id="1" class="barra-0_5">
     <hr>
  </div>

  <div class="plusss">
    <button type="button" class="editar3" >
     <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAFZJREFUSEtjZKAxYKSx+QyjFhAMYVKD6D/URKL1Ea0QavCoBQTjbOgEEcylBL2EpgAj0eBKRTS3AJfLh04cjPoAHgKDriwiNV+M1miEQ4zUSCZsIpoKAFy0DhnDOA3uAAAAAElFTkSuQmCC" alt="boton editar"/>
    </button>
  </div>

  <!--Barra de separación 1-->      
   <div id="1" class="barra-1">
     <hr>
   </div>

  <!--Educación-->
<app-educacion></app-educacion>

<hr id="barra-2">

<!--Habilidades-->
<app-habycon></app-habycon>

<hr id="barra-3">

<!--Proyectos-->
<div class="proyecsec" >
<div class="proyectos">
<div class="titulProy" id="proy">
<h1>Proyectos</h1></div>  
<button type="button" class="editar"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
</button>
<div class="textoA" id="irProy">
<div class="container">
<div class="row">
 <div class="col-sm-1"></div>
 <div class="col-sm-3" id="primerproy">- Portafolio Web</div>
 <div class="col-sm-8" id="descrip"><i>fecha de Realización: 08/2022</i></div>
</div>
<div class="row" id="captura">
 <div class="col-sm-4"></div>
 <div class="col-sm-8"><img src="../assets/Captura.png" id="cap" alt="captura"></div>
</div>
</div>
</div>
</div>
</div>


<!--Contacto-->

<div class="contacto" id="irCont">
<div class="sendmail">
<div class="titulCont">
<h1>Contacto</h1>
<button type="button" class="editar"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPtJREFUSEu1lOsNgzAMhC+VB6CT0BHaSboIEkbKAp2oHQE26QBRqYyChNK8C/wk4T77zljh4EcdrI9qADM3H2PuAJoT0YOZ375iqwAiPhvzBHCxoqMiuvkgxQBHfLKAFoAXUgRwxRXRVQCzMS8ArQIG1pq3VmUDQrZYwGJXNSBmi61WspikIzeHZAcpWyzAKy5nUYBPXCoMvS8a0z3Egx3sJe4F7CnuBfRdN8pMb6eixHM3h5+Q+66bFzLRuTTQrJBXwKC1+qfyFRbswKkmOOepdZ8DqBZP/mip6nLOk6siRyR2J8eiIoYMR3Rdr1NUpLq5nATUCoe+OzyDL1cj1BlAMHbRAAAAAElFTkSuQmCC" alt="boton editar"/>
</button>
</div>
<div class="formCont" >
<div class="row">
<div class="col-sm-4">De:</div>
<div class="col-sm-8">
<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
</div>
<div class="row" id="miMail">
<div class="col-sm-4">Para:</div>
<div class="col-sm-8" id="mimail">
   ariabril.med773@gmail.com
</div>
</div>
<div class="form-floating">
<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" ></textarea>
<label for="floatingTextarea2"></label>
</div>
   <div class="enviar">
      <button type="submit" class="btn btn-outline-secondary">Enviar</button>
   </div>
</div>
</div>
</div>


</main>
<router-outlet></router-outlet>




